.homeButton{
    float:right;
}
.voltarButton{
    float:left;
}
.facebook{
    background-color:#3a5795 !important;
    color:white !important;
    width:100%;
}
botao{
    background-color:orange;
}
header{
    text-align: center;
}
.painel{
    
    padding:10px;
}