.homeButton{
    float:right;
}
.voltarButton{
    float:left;
}
.facebook{
    background-color:#3a5795 !important;
    color:white !important;
    width:100%;
}
.filtros{
    background-color:#4A8BF5 !important;
    color:white !important;
    width:100%;
}
.login{
    background-color:#228b22 !important;
    color:white !important;
    width:100%;
}
.register{
    background-color:#228b22 !important;
    color:white !important;
    width:100%;
}
botao{
    background-color:orange;
}
header{
    text-align: center;
}
.painel{
    
    padding:10px;
    
}
.error{
    color: red;
    font-size: 150%;
}
